body {
  background: linear-gradient(to left, #DC0000, #808080); /* Gradient from Deep Red to Silver */
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: linear-gradient(to left, #DC0000, #808080); /* Gradient from Deep Red to Silver */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dropzone {
  /* border: 2px solid #808080; Darker Silver Border
  border-radius: 10px; */
  background-color: #808080; /* Deep Red Background Color */
  transition: background-color 0.3s ease; /* Smooth transition */

  /* ... (your existing styles) */
}

.dropzone:hover {
  background-color: #C0C0C0; /* Brighter Red on Hover */
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  text-align: left;
}

/* Add your additional styles here for the image display */
